{% extends 'base.html' %} {% block content %}

<div class="card mt-5">
  <h1 class="card-header text-center">Head-to-Head comparison</h1>
  <div class="card-body">
    <form class="row g-3 needs-validation" novalidate>
      <div class="col-md-6 text-center">
        <div class="col-md-12 text-center">
            <h5>2022-2023 Rank</h5>
            <h5 id="rank1">~</h5>
        </div>
        <img
          id="playerImg"
          src="/static/images/nba-logo.png"
          class="img-fluid rounded mx-auto mb-3"
          alt="profileLogo"
        />
        <select
          id="selectedPlayer"
          class="form-select"
          id="validationCustom04"
          required
        >
          <option selected disabled value="">Select player</option>
          {% for player in players %}
          <option value="{{ player.name }}">{{ player.name }}</option>
          {% endfor %}
        </select>
        <div class="invalid-feedback">Please select a valid player.</div>
      </div>
      <div class="col-md-6 text-center">
        <div class="col-md-12 text-center">
            <h5>2022-2023 Rank</h5>
            <h5 id="rank2">~</h5>
        </div>
        <img
          id="player2Img"
          src="/static/images/nba-logo.png"
          class="img-fluid rounded mx-auto mb-3"
          alt="profileLogo"
        />
        <select
          id="selectedPlayer2"
          class="form-select"
          id="validationCustom04"
          required
        >
          <option selected disabled value="">Select player</option>
          {% for player in players %}
          <option value="{{ player.name }}">{{ player.name }}</option>
          {% endfor %}
        </select>
        <div class="invalid-feedback">Please select a valid player.</div>
      </div>
      <div class="col-md-12">
        <button id="compare" class="btn btn-primary" type="button">
          Compare
        </button>
      </div>
    </form>
    <div>
      <canvas id="compareChart"></canvas>
      <canvas id="compareRadarChart"></canvas>
    </div>
  </div>
</div>
{% endblock content %} {% block javascript %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const DATA_COUNT = 7;
  const NUMBER_CFG = { count: DATA_COUNT, min: -100, max: 100 };

  const labels = ["Point", "Rebound", "Steal", "Block", "Assist"];

  const data = {
    labels: labels,
    datasets: [
      {
        label: "No Name",
        data: [],
        borderColor: "rgb(255, 99, 132)",
        backgroundColor: "rgb(255, 99, 132, 0.5)",
      },
      {
        label: "No Name",
        data: [],
        borderColor: "rgb(54, 162, 235)",
        backgroundColor: "rgb(54, 162, 235, 0.5)",
      },
    ],
  };
  const compareChart = document.getElementById("compareChart");
  var cChart = new Chart(compareChart, {
    type: "bar",
    data: data,
    options: {
      indexAxis: "y",
      // Elements options apply to all of the options unless overridden in a dataset
      // In this case, we are setting the border of each horizontal bar to be 2px wide
      elements: {
        bar: {
          borderWidth: 2,
        },
      },
      responsive: true,
      plugins: {
        legend: {
          position: "right",
        },
        title: {
          display: true,
          text: "Horizontal Bar Chart",
        },
      },
    },
  });

  const compareRadarChart = document.getElementById("compareRadarChart");
  var rChart = new Chart(compareRadarChart, {
    type: "radar",
    data: data,
    options: {
      plugins: {
        filler: {
          propagate: false,
        },
        "samples-filler-analyser": {
          target: "chart-analyser",
        },
      },
      interaction: {
        intersect: false,
      },
    },
  });

  $("#compare").click(() => {
    var forms = document.querySelectorAll(".needs-validation");

    if (forms[0].checkValidity()) {
      let playerName = $("#selectedPlayer").val();
      let playerName2 = $("#selectedPlayer2").val();

      let playerImg = $("#playerImg")[0];
      let player2Img = $("#player2Img")[0];
      let rank1 = $("#rank1")[0];
      let rank2 = $("#rank2")[0];

      $.ajax({
        type: "GET",
        url: "/compare-player",
        data: {
          playerName: playerName,
          playerName2: playerName2,
        },
        success: function (data) {
        
          playerImg.src = data.player1.imgUrl;
          player2Img.src = data.player2.imgUrl;

          rank1.innerHTML = data.player1.rank;
          rank2.innerHTML = data.player2.rank;

          rChart.data.datasets[0].data = data.player1.data
          rChart.data.datasets[0].label = playerName

          rChart.data.datasets[1].data = data.player2.data
          rChart.data.datasets[1].label = playerName2

          rChart.update()

          cChart.data.datasets[0].data = data.player1.data
          cChart.data.datasets[0].label = playerName

          cChart.data.datasets[1].data = data.player2.data
          cChart.data.datasets[1].label = playerName2

          cChart.update()
        },
      });
    }

    forms[0].classList.add("was-validated");
  });
</script>
{% endblock javascript %}
